h1,p{
  background-color: #DDE0E3;
}

h1{
  padding-top: 30px
}

p{
  padding: 30px 10px;
}

h1{
  padding: 20px;
  border-bottom: 1px solid red;
  margin-bottom: 25px;
}

p {
  padding: 20px 0 20px 10px;

  margin-top: 20px;
  margin-bottom: 50px;
}

em,strong{
  background-color: #B2D6FF;
  display:inline;
}

div{
  background-color: blue;
  padding: 30px;
  font-weight: bold;
  color: ivory;
  text-align:center;
  border: 3px dotted red;
  border-radius: 30px;

  width: 200px;
  box-sizing: border-box;
  margin: 60px auto;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
}
